<%- include('_layout/header') %> <% var loggedIn = typeof loggedIn !==
'undefined' ? loggedIn : false; %>

<div class="jumbotron text-center">
  <h1>Welcome to the <%= title %></h1>
  <p class="lead">
    Track your fitness, log your weight, and monitor your daily calories burned
    with our easy-to-use fitness app.
  </p>
  <% if (loggedIn) { %>
  <a class="btn btn-primary btn-lg" href="/user/profile" role="button"
    >Profile</a
  >
  <% } else { %>
  <a class="btn btn-success btn-lg" href="/user/register" role="button"
    >Get Started</a
  >
  <% } %>
</div>

<%- include('_layout/footer') %>
