<%- include('_layout/header') %>
<div class="container">
  <h2>Login</h2>
  <% if (typeof error !== 'undefined') { %>
  <div class="error"><%= error %></div>
  <% } %>
  <form action="/user/login" method="POST">
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required />
    </div>
    <button type="submit">Login</button>
  </form>
  <p>Don't have an account? <a href="/user/register">Register here</a></p>
</div>
<%- include('_layout/footer') %>
