<%- include('_layout/header') %>
<div class="container">
  <h2>Profile</h2>
  <% if (user) { %>
    <p>Welcome, <%= user.username %></p>
  <% } else { %>
    <p>No user data available.</p>
  <% } %>
</div>
<%- include('_layout/footer') %>