/* Ensure html and body take full height */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Use flex layout in the wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

/* Content takes remaining space */
.content {
  flex: 1;
}

/* Additional existing styles */
body {
  background-color: #f8f9fa;
}

.navbar-brand {
  font-weight: bold;
}

.chart-container {
  background: #fff;
  border: 1px solid #dee2e6;
  padding: 15px;
  border-radius: 5px;
}

#activity-list {
  background: #fff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

#activity-list li {
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
  cursor: pointer;
}

#activity-list li:hover {
  background-color: #f1f1f1;
}

#activity-form {
  background: #fff;
  padding: 15px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-top: 20px;
}

section {
  margin-bottom: 1em;
}

.table-bordered {
  border: 1px solid #ddd !important;
}

table {
  text-align: left;
  border-collapse: collapse;
}

thead {
  border-block-end: 2px solid;
  background: whitesmoke;
}

th,
td {
  border: 1px solid #f8f9fa;
  padding: 0.25rem 0.75rem;
}

td {
  background-color: white;
}