</div> 
      <footer class="footer container text-center">
        <hr />
        <p>&copy; 2025 Lukáš Hajnyš, Matyáš Sýs, Ondřej Kutáček</p>
      </footer>
    </div> 

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/scripts/script.js"></script>
  </body>
</html>
