<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>

    <a href="/">Home</a>
    <a href="/user/register">Get Started!</a>
    <a href="/user/login">Login</a>
    <a href="/user/logout">Logout</a>

    <hr />
  </body>
</html>
