<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>

    <a href="/app/home">Home</a>
    <a href="/user/register">Register</a>
    <a href="/user/login">Login</a>

    <hr />